= yield :meta
%meta{ charset: 'utf-8' }
%meta{ name: 'author', content: 'Lonely Planet' }
%meta{ name: 'theme-color', content: '#1D508D' }
%title= I18n.t('app_name')

= yield :dns_prefetch
%link{ rel: 'dns-prefetch', href: 'http://assets.staticlp.com' }
%link{ rel: 'icon', type: 'image/gif', href: 'https://www.lonelyplanet.com/favicon.ico' }
%meta{ name:'viewport', content: responsive ? 'width=device-width, initial-scale=1' : 'width=1024' }

- if include_js && app_core
  - content_for(:async_js) { 'app_core' }

= csrf_meta_tags

- if include_js
  = render 'layouts/partials/snippets/head_js', third_party: third_party

- if legacy_lp
  = stylesheet_link_tag('core_legacy')
  = static_ui_stylesheet('app-core-legacy', (defined? secure) ? secure : false)
- else
  = stylesheet_link_tag('core')
  = stylesheet_link_tag('main')

= yield :stylesheets
= yield :pagination_links_rels
= stylesheet_link_tag 'asset_mole', media: 'all'

- if legacy_lp && include_js
  %script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  = static_ui_script('lp-js-library-legacy', (defined? secure) ? secure : false)
