!!!
%html
  = render 'layouts/partials/snippets/doctype_declaration'
  %head
    %title= I18n.t('app_name')
    = render 'components/head', tynt: (defined?(tynt) ? tynt : true), responsive: true, third_party: false, include_js: true, legacy_lp: false, app_core: true, default_title: true
    = stylesheet_link_tag 'castro', media: 'all'

  %body.responsive
    = render 'components/primary'
    = render 'components/secondary'
    = yield
